[run]
include = indigo/*
omit =
    benchmark/*
    indigo/test_compat.py
    indigo/backends/cuda.py
    indigo/backends/customgpu.py
    indigo/interp.py

[report]
exclude_lines =
    NotImplementedError
